name: Deploy to Google Cloud Run

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: revalida-companion
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Build and push Docker image
        run: |
          gcloud auth configure-docker us-central1-docker.pkg.dev
          docker build -t us-central1-docker.pkg.dev/revalida-companion/backend-revalida/backend:latest ./backend
          docker push us-central1-docker.pkg.dev/revalida-companion/backend-revalida/backend:latest

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy backend-revalida \
            --image=us-central1-docker.pkg.dev/revalida-companion/backend-revalida/backend:latest \
            --region=us-central1 \
            --platform=managed \
            --allow-unauthenticated
